*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************************************/
/* Here are some customed utility-first css classes */
/*****************************************************/


/* Make img at the center of div regardless of the different shape : wrap a <img class="box-img"> inside <div class="img-box"> */
.img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box-img{
    min-width: 100%;
    min-height: 100%;
    display: block; 
    object-fit: cover;
}
